body {
background-color: honeydew;
font-family: Arial, sans-serif;
margin: 20px;
line-height: 1.6;
display: grid;
}
 
.container {
 display: flex;
 justify-content: center; 
 align-items: center;     
 max-height: 100vh;
 background-color: rgb(159, 201, 201);
 width: fit-content; 
}

#product-container {
  background-color: rgba(246, 152, 199, 0.988);
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  width: fit-content; 
  padding: 15px;       
  border-radius: 8px;
}
 
#cart {
  list-style: none;
  padding: 0;
}
 
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
 
.cart-item span {
  flex: 1;
}
 
.cart-item button {
  margin-left: 10px;
}